<article class="message is-info">
    <a href="/post/{{id}}">
        <div class="message-header ">
            <p>
                {{title}}
            </p>
            <div class="header-split">
                Posted by {{user.username}} on {{format_date dateCreated}}
            </div>
        </div>
        <div class="message-body">
            {{content}}
        </div>
    </a>
    
</article>